@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accomodation |Homeless Hope</title>
    <link rel="stylesheet" href="homeless4.css">
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="logo">
                <img src="C:\Users\fatim\Desktop\hb.jpeg" alt="Logo">
                <h1>Homeless Hope</h1>
            </div>
            <div class="menu-buttons">
                <a href="#about" id="nav-about" class="menu-link"><strong>About Us</strong></a>
                <a href="#footer" id="nav-contact" class="menu-link"><strong>Contact</strong></a>
                <a href="find.html" target="_blank">
                    <button class="search-button">
                        <img src="C:\Users\fatim\Downloads\wwwsearch.png" alt="Search" class="icon">
                    </button>
                </a>
                <a href="find.html" target="_blank">
                    <button id="findbtn"><strong>Find a Service</strong></button>
                </a>
                <a href="donate.html" target="_blank">
                    <button id="donateBtn"><strong>Donate</strong></button>
                </a>
            </div>
        </div>
        <nav>
            <ul class="sub-nav">
                <li><a href="accomodation1.html" id="nav-accommodation" target="_blank">Accommodation</a></li>
                <li><a href="uhm.html" id="nav-accommodation" target="_blank">Understanding Homelessness</a></li>
                <li><a href="workforce.html" id="nav-accommodation" target="_blank">workforce</a></li>
                <li><a href="membership.html" id="nav-accommodation" target="_blank">Membership</a></li>
                <li><a href="slp.html" id="nav-accommodation" target="_blank">Supporting local partnerships</a></li>
            </ul>
        </nav>


        <div class="banner">
            <p>Are you homeless or at risk of becoming homeless?</p>
            <a href="find.html" target="_blank">
                <button class="btn-help">Get Help Now</button>
            </a>
        </div>
    </header>
    <section id="about">
        <div class="about-content">
            <h2>Improving Standards of Accommodation</h2>
            <p>
                Ending homelessness requires adequate, decent accommodation. We work with our members to promote higher standards in all types of accommodation through training, sharing best practices, and lobbying for change.
            </p>
        </div>
    </section>
    <section id="join">
        <div class="join-content">
            <h2>Our Home Safe Strategy</h2>
            <p>
                To help achieve this we will:
                <ul>
                    <li>Undertake a comprehensive review of the full range of accommodation options available to individuals and couples experiencing homelessness...</li>
                    <li>Use the findings of this review to make recommendations for the future development of accommodation services...</li>
                    <li>Drive the scaling up of high fidelity Housing First as a solution for people facing multiple disadvantages...</li>
                    <li>Support the development of data-informed housing and homelessness strategies...</li>
                    <li>Strengthen links and explore partnerships with relevant housing and funding organizations...</li>
                    <li>Campaign to secure positive progress on the need for adequate and long-term secure funding...</li>
                </ul>
            </p>
        </div>
    </section>
    <a href="#accomodation"></a>
    <section id="accomodation">
        <div class="accomodation-content">
            <h2>Homeless Pakistan</h2>
            <p>
                Homeless Pakistan is the most comprehensive database of Homelessness services. It is constantly updated and lists over 1500 projects across the country with contact details and service descriptions. It is provided by Homeless Hope to promote joint working across the sector and to help individuals find local services.
            </p>
            <a href="find.html" target="_blank">
                <button class="btn-learn">Find Homeless Services in Your Area</button>
            </a>
        </div>
    </section>
    <footer id="footer">
        <div class="footer-container">
            <h1>
                I believe this membership allows a voice to be heard that best represents the sector, its very best practice, and the most informed vision for the future.
            </h1>
            <h2>Member Survey 2022</h2>
            <p>&copy; 2024 Homeless Hope. All rights reserved.</p>
            <h1>Contact</h1>
            <p>Company number: 04313826 | Charity number: 1089173</p>
            <div class="footer-links">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Use</a>
            </div>
        </div>
    </footer>
    <script src="homeless4.js"></script>
</body>
</html>