
    <section id="about">
        <div class="about-content">
            <h2>About Homeless Link</h2>
            <p>
                We are the national membership charity for organizations working directly with people who become homeless in England. We work to make services better and campaign for policy change that will help end homelessness.
            </p>
            <div id="about-details" class="hidden">
                <p>Our social enterprise supports the homelessness sector through specialised software, engaging training, expert consultancy, and impactful events that also helps to fund our wider work to end homelessness for good.</p>
            </div>
            <button id="toggle-about" class="btn-learn">About Us</button>
        </div>
    </section>
    <section id="join">
        <div class="join-content">
            <h2>Join Homeless Hope</h2>
            <p>
                Be part of the movement to end homelessness. Access professional support, networks, and training skills. Be part of a stronger voice.
            </p>
            <a href="membership.html" target="_blank">
                <button class="btn-learn">Find out more</button>
            </a>
        </div>
    </section>
    <section id="contact">
        <div class="contact-content">
            <h2>Do you want to hear more from us?</h2>
            <form id="contact-form">
                <label for="name">First Name:</label>
                <input type="text" id="name" required>

                <label for="name">Last Name:</label>
                <input type="text" id="last-name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" required>
                <button type="submit" class="btn-submit">Submit</button>
            </form>
        </div>
    </section>
    <footer id="footer">
        <div class="footer-container">
            <h1>
                I believe this membership allows a voice to be heard that best represents the sector, its very best practice and the most informed vision for the future.
            </h1>
            <h2>Member Survey 2022</h2>
            <p>&copy; 2024 Homeless Hope. All rights reserved.</p>
            <h1>Contact</h1>
            <p>Company number: 04313826 | Charity number: 1089173</p>
            <div class="footer-links">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Use</a>
            </div>
        </div>
    </footer>11
    <script src="homeless4.js"></script>

