
    <section id="about">
        <div class="about-content">
            <h1>Membership</h1>
            <p>
                Be part of the movement of over 800 organisations and individuals working to end homelessness in England.
            </p>
    </section>
    <section id="join">
        <div class="join-content">
            <h1>Join the movement working to end homelessness</h1>
            <p>
                Homeless Link is the national membership charity for organisations working directly with people who become homeless in England. We're here to support frontline homelessness services with whatever needs you might have.
                We support our members to influence national policy, access guidance and support, and connect with a network of professionals committed to ending homelessness.
            </p>
            <a href="becomeMember.html" target="_blank">
                <button class="btn-learn">Become a member</button>
            </a>
        </div>
    </section>
    <footer id="footer">
        <div class="footer-container">
            <h1>
                I believe this membership allows a voice to be heard that best represents the sector, its very best practice, and the most informed vision for the future.
            </h1>
            <h2>Member Survey 2022</h2>
            <p>&copy; 2024 Homeless Hope. All rights reserved.</p>
            <h1>Contact</h1>
            <p>Company number: 04313826 | Charity number: 1089173</p>
            <div class="footer-links">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Use</a>
            </div>
        </div>
    </footer>
    <script src="homeless4.js"></script>
