
    <section id="contact">
        <div class="contact-content">
            <h2>Partnership self assessment framework</h2>
            <p>
                Clarity of purpose, connectivity, co-production, collaboration, and communication
            </p>
        </div>
    </section>
    <a href="#accomodation"></a>
    <section id="accomodation">
        <div class="accomodation-content">
            <h2>Ending homelessness is not an issue that can be solved by housing or homelessness teams alone.</h2>
            <p>
                The Partnership Self-Assessment Toolkit provides a framework for good partnership working, providing you with a clear plan of action.The self-assessment tool is designed to support local areas in evaluating the effectiveness of their partnerships in tackling homelessness and rough sleeping, while identifying actionable steps for improvement. It seeks to enhance collaboration among individuals experiencing or at risk of homelessness, local authorities, the voluntary, community, and faith sectors, as well as health and criminal justice partners, local citizens, businesses, and political leaders. Additionally, the tool promotes continuous improvement through regular audits of completed work, supported by appropriate and relevant evidence, ensuring sustained progress and accountability.
            </p>
        </div>
    </section>
    <section id="about">
        <div class="about-content">
            <h2>Get in touch</h2>
            <p>
                If you are undertaking a Self-Assessment in your area, we would love to hear from you. Please reach out to the relevant Partnership Manager if you are undertaking this and if there is anything we can do to support the process.
            </p>
            <a href="slp.html" target="_blank">
                <button class="btn-learn">Find out more</button>
            </a>
        </div>
    </section>
    <footer id="footer">
        <div class="footer-container">
            <h1>
                I believe this membership allows a voice to be heard that best represents the sector, its very best practice, and the most informed vision for the future.
            </h1>
            <h2>Member Survey 2022</h2>
            <p>&copy; 2024 Homeless Hope. All rights reserved.</p>
            <h1>Contact</h1>
            <p>Company number: 04313826 | Charity number: 1089173</p>
            <div class="footer-links">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Use</a>
            </div>
        </div>
    </footer>
    <script src="homeless4.js"></script>
