
    <section id="join">
        <div class="join-content">
            <h1>Supporting the homelessness workforce</h1>
            <p>
                As the membership organisation for homelessness sector, Homeless Hope works in the interests of the workforce. There are thousands of people working in homelessness and adjacent sectors. The work can be incredibly rewarding but also comes with many challenges.We help our members to recruit and retain the very best staff and volunteers to deliver the best services. We also research and advocate on behalf of the workforce.
            </p>
            <a href="membership.html" target="_blank">
                <button class="btn-learn">Find out more about becoming a Homeless Hope member</button>
            </a>
        </div>
    </section>
    <footer id="footer">
        <div class="footer-container">
            <h1>
                I believe this membership allows a voice to be heard that best represents the sector, its very best practice, and the most informed vision for the future.
            </h1>
            <h2>Member Survey 2022</h2>
            <p>&copy; 2024 Homeless Hope. All rights reserved.</p>
            <h1>Contact</h1>
            <p>Company number: 04313826 | Charity number: 1089173</p>
            <div class="footer-links">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Use</a>
            </div>
        </div>
    </footer>
    <script src="homeless4.js"></script>
